.task-list-item {
	background-color:transparent;
	color:#313131;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.08);
}

.task-list-item:last-child {
	border-bottom:none;
}

.task-label {
	flex:10 5;
	align-self:stretch;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:stretch;
	margin-left:2%;
}

.task-title {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	margin: 1.5em 0;
	font-size: 1.1em;
	color: #cbc7b4;
}

.task-title label {
	color:#cbc7b4;
	background-color:#eae9e1;
	font-size:0.8em;
	padding:0.6em 1.3em;
	border-radius:5px;
	border: none;
	outline: none;
	margin-right:1em;
}

*.name {
	color:rgb(251,50,84);
	margin: 0;
	padding: 0;
}

input.name {
	font-size:1.4em;
	background-color:transparent;
	border:none;
	outline:none;
}

span.name {
	color:#7f8080;
	font-size:1.2em;
	overflow:hidden;
}

.format-container {
	flex:none;
	height: 100%;
	max-height: 30px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.format {
	width:60px;
	height: 100%;
	color:#cbc7b4;
	background-color:#eae9e1;
	font-size:1em;
	padding:0px 18px;
	border-radius:5px;
	border: none;
	outline: none;
	margin:0px 2.5px;
}

label.format {
	vertical-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}

select.format {
	width:60px;
}

.control-container {
	flex:none;
	display:flex;
	flex-direction:row;
	align-self:stretch;
	justify-content:space-between;
	align-items:stretch;
	margin-left: 2%;
}

button {
	color:#cdc9b6;
	background-color:#eae9e1;
}