.tasks {
	flex:10 2 auto;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	transition: max-height 0.3s ease-out;
}

.task-list-item {
	background-color:transparent;
	color:#313131;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.08);
}

.task-list-item:last-child {
	border-bottom:none;
}

.task-label {
	flex:10 5;
	align-self:stretch;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:stretch;
	margin-left:2%;
}

.task-title {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	margin: 1.5em 0;
	font-size: 1.1em;
	color: #cbc7b4;
}

.task-title label {
	color:#cbc7b4;
	background-color:#eae9e1;
	font-size:0.8em;
	padding:0.6em 1.3em;
	border-radius:5px;
	border: none;
	outline: none;
	margin-right:1em;
}

*.name {
	color:rgb(251,50,84);
	margin: 0;
	padding: 0;
}

input.name {
	font-size:1.4em;
	background-color:transparent;
	border:none;
	outline:none;
}

span.name {
	color:#7f8080;
	font-size:1.2em;
	overflow:hidden;
}

.format-container {
	flex:none;
	height: 100%;
	max-height: 30px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

span.format {
	background-color:#f9f9f9;
	border: 1px solid rgba(142,141,138,0.2);
	padding: 0;
	margin:0em 0.2em;
	border-radius: 0.5em;
	
}

span.format span {
	color:#8E8D8A;
	text-transform: uppercase;
	padding: 1em 0em 1em 1.2em;
}

span.format button {
	color:#8E8D8A;
	background: none;
	box-shadow: none;
	background-color: transparent;
	border: none;
	outline: none;
	width: inherit;
	height: inherit;
	font-size: 0.8em;
	padding: 1em;
	margin:0;
	border-radius: 0;
}

select.format {
	height: 100%;
	color:#cbc7b4;
	background-color:#eae9e1;
	font-size:1em;
	padding:0px 18px;
	border-radius:5px;
	border: none;
	outline: none;
	margin:0px 2.5px;
}

.control-container {
	flex:none;
	display:flex;
	flex-direction:row;
	align-self:stretch;
	justify-content:space-between;
	align-items:stretch;
	margin-left: 2%;
}

button {
	color:#cdc9b6;
	background-color:#eae9e1;
}